# TwinEdge Jetson Node Configuration Template
# Permissions: chmod 0600 /etc/twinedge/node.env
DEVICE_ID=JETSON-NANO-01
DEVICE_SECRET=your_32_byte_secret_hex_here
CLOUD_URL=https://api.yourcloud.com
ENGINES=3
RATE=1.0
BIND_API=127.0.0.1
PORT_API=8088
